<div class="container">

    <h1>Accessible test form</h1>
    <div *ngIf="testForm.valid && submitted">Form has been properly submitted.</div>
    <form #testForm="ngForm" (ngSubmit)="showSummary()" (input)="submitted=false" [hidden]="testForm.valid && submitted">

        <div class="field">
            <label for="name">Name: </label><br>
            <input id="name" type="text" #name="ngModel" [(ngModel)]="user.name" name="name" required minlength="2" autocomplete="name" aria-autocomplete="list">
            
            <div class="alert" [hidden]="name.valid || name.pristine">
                <div *ngIf="name.errors?.['required']" role="alert">Name is required</div>
                <div *ngIf="name.errors?.['minlength']" role="alert">Please enter at least 2 characters</div>
            </div>

        </div>

        <div class="field">
            <label for="surname">Surname: </label><br>
            <input id="surname" type="text" #surname="ngModel" [(ngModel)]="user.surname" name="surname" autocomplete="family-name" aria-autocomplete="list" required minlength="2">

            <div class="alert" [hidden]="surname.valid || surname.pristine">
                <div *ngIf="surname.errors?.['required']" role="alert">Surname is required</div>
                <div *ngIf="surname.errors?.['minlength']" role="alert">Please enter at least 2 characters</div>
            </div>
        </div>

        <div class="field">
            <label for="e-mail">E-mail address: </label><br>
            <input id="e-mail" type="text" #mail="ngModel" [(ngModel)]="user.mail" name="mail" (keydown)="reset(mail)"autocomplete="email" aria-autocomplete="list" required appMailValidator>

            <div class="alert" [hidden]="mail.valid || mail.pristine">
                <div *ngIf="mail.errors?.['required']" role="alert">E-mail address is required</div>
                <div *ngIf="mail.errors?.['mailValidation']" role="alert">E-mail address is not valid</div>
            </div>
        </div>

        <div class="field">
            <label for="phone">Phone number: (optional)</label><br>
            <input id="phone" type="text" #phone="ngModel" [(ngModel)]="user.phoneNumber" name="phone" pattern='^[0-9 ()-+]{6,}$' autocomplete="tel" aria-autocomplete="list" (keydown)="reset(phone)">
            
            <div [hidden]="!phone.value || phone.pristine">
                <div *ngIf="phone.errors?.['pattern']" role="alert">Provided phone number is invalid</div>
            </div>
        </div>

        <div class="field">
            <label for="nationality">Nationality: </label><br>
            <select id="nationality" type="text" #nationality="ngModel" [(ngModel)]="user.nationality" name="nationality" required>
                <option *ngFor="let nationality of nationalities" [value]="nationality">{{nationality}}</option>
            </select>

            <div class="alert" [hidden]="nationality.valid || nationality.untouched" aria-invalid="true" role="alert" aria-live="polite" tabindex="0">
                <div *ngIf="nationality.errors?.['required']">Nationality is required</div>
            </div>
        </div>

        <button type="submit" value="Submit">Submit</button>

        <span class="summary" *ngIf="submitted && testForm.invalid">
            <ul>
                <li *ngIf="!name.valid" role="alert">Please enter valid name</li>
                <li *ngIf="!surname.valid" role="alert">Please enter valid surname</li>
                <li *ngIf="!mail.valid" role="alert">Please enter valid e-mail</li>
                <li *ngIf="!phone.valid" role="alert">Pleaes either enter valid phone number<br> or leave the entry blank</li>
                <li *ngIf="!nationality.valid" role="alert">Please select nationality</li>
            </ul>
        </span>
    </form>
</div>